@media (max-width: 768px) {
  body {
    background-position: center;
    padding: 0 25px;
  }

  .slider {
    gap: 20px;
  }

  
}

@media (max-width: 496px) {
  .lista-personagens {
    width: 250px;
  }

  .imagem-carta {
    width: 100%;
  }

  .slider {
    position: relative;
  }

  .btn-seta {
    position: absolute;
    bottom: -13%;
  }

  #btn-avancar {
    right: 20%;
  }

  #btn-voltar {
    left: 20%;
  }

  span{
    font-size: 14px;
  }
}

@media(max-width:375px){
    body{
        justify-content: start;
        padding: 10px;
        gap: 10px;
    }

    .cabecalho{
        font-size: 13px;
    }

    span{
        font-size: 13px;
    }

    
}


