body {
  font-family: "yu-gi-oh", sans-serif;
  background-image: url("../imagens/fundo-site.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 30px;
}

.cabecalho {
  display: flex;
  justify-content: center;
}

.cabecalho .titulo {
  color: red;
}

.carta {
  opacity: 0;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 5px;
  position: absolute;
}

.carta.selecionado {
  opacity: 1;
  z-index: 1;
}

.lista-personagens {
  width: 300px;
  height: 510px;
  border-radius: 10px;
  position: relative;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
}

.carta .nome {
  font-size: 13px;
  text-transform: uppercase;
  padding: 5px;
  background: radial-gradient(circle, #f3e2c8, #e4cfa5, #c4a57a);
  border: solid 1px #a67c52;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  border-radius: 5px;
}

.carta .estrela {
  background-image: url("../imagens/nivel-carta.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.carta .nivel-carta {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  gap: 5px;
}

.carta .imagem-carta {
  max-width: 260px;
  align-self: center;
}

.carta .informacoes {
  max-width: 300px;
  color: #000000;
  text-align: left;
  padding: 8px;
  background: radial-gradient(circle, #f3e2c8, #e4cfa5, #c4a57a);
  border: solid 1px #a67c52;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  border-radius: 5px;
}

.carta .informacoes .informacoes-ataque {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.carta .informacoes-ataque span {
  font-weight: bold;
}

.carta .descricao {
  border-bottom: 1px solid #000000;
  max-height: 95px;
  overflow-y: scroll;
  padding: 10px;
  font-size: 13px;
}

.fundo-1 {
  background: url("../imagens/fundo-1.jpg") no-repeat;
}
.fundo-2 {
  background: url("../imagens/fundo-2.jpg") no-repeat;
}
.fundo-3 {
  background: url("../imagens/fundo-3.jpg") no-repeat;
}
.fundo-4 {
  background: url("../imagens/fundo-4.jpg") no-repeat;
}
.fundo-5 {
  background: url("../imagens/fundo-5.jpg") no-repeat;
}
.fundo-6 {
  background: url("../imagens/fundo-6.jpg") no-repeat;
}
.fundo-7 {
  background: url("../imagens/fundo-7.jpg") no-repeat;
}

.btn-seta {
  background-color: #ffffff;
  border: none;
  height: 70px;
  width: 70px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-seta.btn-voltar{
  transform: rotate(180deg);
}

.btn-seta:hover{
  background-color: red;
}

body::-webkit-scrollbar-track{
   background-color: #c08057;
}

::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-thumb {
   background: #c08057;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
   background: #c08057;
}

.carta-virada{
  display: none;
}


.carta-virada.mostar-fundo-carta{
  background-color: red;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../imagens/fundo-carta.jpg);
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  border-radius: 10px;
  z-index: 2;
}

.carta.virar{
   transform: rotateZ(90deg);
   transition: transform 0.3s ease-in-out;
}

.esconder{
  display: none;
}